# Application / App / Microservice.......
application: 

 applicationName: "review"
 namespace:
   enabled: true
   additionalLabels:
      kind: pr
      team: gabbar
      stakater.com/tenant: gabbar
 route:
    enabled: true
    port:
      targetPort: https

 configMap:
    enabled: true
    files:
    - nameSuffix: ""
      data:
        DB_NAME: "nordmartDB"
        #MONGO_HOST: "review-mongodb"
 
 secretProviderClass:
  enabled: true
  name: mongo-host
  provider: vault
  vaultAddress: "http://vault:8200"
  roleName: '{{ .Release.Namespace }}'
  objects: |
    - objectName: "MONGO_HOST"
      secretPath: "gabbar/kv/data/mongoDb"
      secretKey: "MONGO_HOST"  
  secretObjects:
    - data:
      - key: MONGO_HOST
        objectName: MONGO_HOST
      secretName: secret-mongo-host
      type: Opaque 

 deployment:
   additionalLabels:
     appCategory: "backend"
   annotations:
   volumes: 
     - name: mongo-db-creds
       csi:
         driver: secrets-store.csi.k8s.io
         readOnly: true
         volumeAttributes:
           secretProviderClass: mongo-host
   imagePullSecrets: nexus-docker-config-forked
   envFrom:
    - type: configmap
      name: ""
   env:
     - name: MONGO_HOST
       valueFrom:
         secretKeyRef:
           name: secret-mongo-host
           key: MONGO_HOST
   volumeMounts:
     - name: mongo-db-creds
       readOnly: true
       mountPath: /data/db-creds
   image:
     repository: stakater/stakater-nordmart-review
     tag: v0.0.2
   resources: 
     limits:
       memory: 1Gi 
       cpu: 0.5
     requests:
       memory: 128Mi
       cpu: 0.1

   probes:
     readinessProbe:
       failureThreshold: 3
       periodSeconds: 60
       successThreshold: 1
       timeoutSeconds: 1
       initialDelaySeconds: 10
       httpGet:
         path: /actuator/health/readiness
         port: 8080
     livenessProbe:
       failureThreshold: 3
       periodSeconds: 60
       successThreshold: 1
       timeoutSeconds: 1
       initialDelaySeconds: 10
       httpGet:
         path: /actuator/health/readiness
         port: 8080

 service:
   ports:
   - port: 8080
     name: https
     targetPort: 8080

 rbac:
   create: true
   serviceAccount:
     create: true
     enabled: true
     additionalLabels: 
       stakater.com/vault-access: "true"

# MongoDB dependency
mongodb:

  fullnameOverride: review-mongodb  

  auth:
    enabled: false

  podSecurityContext:
    enabled: false

  containerSecurityContext:
    enabled: false
